body {
  font-family: monospace;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
